<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by category">
      Category
    </th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      Name
    </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="ammoType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ammoType">
      Ammo Type
    </th>
    <td mat-cell *matCellDef="let element"> {{element.ammoType}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="limbDmg">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by limbDmg">
      Limb Damage
    </th>
    <td mat-cell *matCellDef="let element"> {{element.limbDmg}} </td>
  </ng-container>
  <ng-container matColumnDef="bodyDmg">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by bodyDmg" >
      Body Damage
    </th>
    <td mat-cell *matCellDef="let element"> {{element.bodyDmg}} </td>
  </ng-container>
  <ng-container matColumnDef="headDmg">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by headDmg" >
      Head Damage
    </th>
    <td mat-cell *matCellDef="let element"> {{element.headDmg}} </td>
  </ng-container>
  <ng-container matColumnDef="magCap">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by magCap">
      Magazine Capacities
    </th>
    <td mat-cell *matCellDef="let element">
      {{element.magCap[0]}} <br>
      {{element.magCap[1]}} <br *ngIf="element.magCap[1]">
      {{element.magCap[2]}} <br *ngIf="element.magCap[2]">
      {{element.magCap[3]}} <br *ngIf="element.magCap[3]">
    </td>
  </ng-container>
  <ng-container matColumnDef="btk">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by btk">
      Bullets To Kill*
    </th>
    <td mat-cell *matCellDef="let element">
      {{element.btk[0]}}<br/>
      {{element.btk[1]}}<br *ngIf="element.btk[1]"/>
      {{element.btk[2]}}<br *ngIf="element.btk[2]"/>
      {{element.btk[3]}}<br *ngIf="element.btk[3]"/>
      {{element.btk[4]}}<br *ngIf="element.btk[4]"/>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<p class="disclaimers">
  *
  <span class="text-left">30-30 Repeater damage numbers are based on fully charged shots</span>
  <span class="text-left">Bullets to Kill is calculated based on the body damage</span>
  <span class="text-left">Shotgun Damage is per pellet</span>
</p>
