<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by category">
      Category
    </th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      Name
    </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="ammoType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ammoType">
      Ammo Type
    </th>
    <td mat-cell *matCellDef="let element"> {{element.ammoType}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="limbDmg">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by limbDmg">
      Limb Damage
    </th>
    <td mat-cell *matCellDef="let element"> {{element.limbDmg}} </td>
  </ng-container>
  <ng-container matColumnDef="bodyDmg">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by bodyDmg" >
      Body Damage
    </th>
    <td mat-cell *matCellDef="let element"> {{element.bodyDmg}} </td>
  </ng-container>
  <ng-container matColumnDef="headDmg">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by headDmg" >
      Head Damage
    </th>
    <td mat-cell *matCellDef="let element"> {{element.headDmg}} </td>
  </ng-container>
  <ng-container matColumnDef="magCap">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by magCap">
      Mag Capacity
    </th>
    <td mat-cell *matCellDef="let element">
      {{element.magCap}}
    </td>
  </ng-container>
  <ng-container matColumnDef="btk">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by btk">
      Bullets To Kill*
    </th>
    <td mat-cell *matCellDef="let element">
      {{element.btk}}
    </td>
  </ng-container>
  <ng-container matColumnDef="RPM">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by RPM">
      Max Rounds Per Minute
    </th>
    <td mat-cell *matCellDef="let element">
      {{element.RPM}}
    </td>
  </ng-container>
  <ng-container matColumnDef="DPS">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by DPS">
      Max Damage Per Second
    </th>
    <td mat-cell *matCellDef="let element">
      {{element.DPS}}
    </td>
  </ng-container>
  <ng-container matColumnDef="dmgPerMagBody">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by dmgPerMagBody">
      Damage per Mag (Body)
    </th>
    <td mat-cell *matCellDef="let element">
      {{element.dmgPerMagBody}}
    </td>
  </ng-container>
  <ng-container matColumnDef="dmgPerMagHead">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by dmgPerMagHead">
      Damage per Mag (Head)
    </th>
    <td mat-cell *matCellDef="let element">
      {{element.dmgPerMagHead}}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<p class="disclaimers">
  *
  <span class="text-left">30-30 Repeater damage numbers are based on fully charged shots</span>
  <span class="text-left">Bullets to Kill is calculated based on the body damage</span>
  <span>All DPS and RPM is the max possible</span>
  <span>L-Star Damage per mag for body and head are without any helmet. It is also holding the trigger until it is overheated.</span>
</p>
